# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
local_settings.py
.env
*.env
*.secret

# Environments
venv/
.env/
env/
.venv/

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo

# Static/media
staticfiles/
media/

# OS-specific
.DS_Store
Thumbs.db

